.add-food {
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    height: 80px;
    text-align: center;
    border: 2px solid black;
    justify-content: center;

}

.input{
    width: 220px;
    height: 25px;
    text-align: center;
}

.input-button{
    height: 30px;
    background-color: white;
}