.food-card{
    height: 80px;
    width: 220px;
    border: 2px solid black;
    border-radius: 18px;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.food-card-name{
    margin: auto;
}

.button-delete{
    width: 70px;
    height: 25px;
    margin: auto;
    background-color: red;
}