.food-card{
    height: 80px;
    width: 360px;
    border: 2px solid black;
    border-radius: 18px;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.food-card-fields{
    margin: auto;
}

.button-delete{
    width: 70px;
    height: 25px;
    margin: auto;
    border: solid 1px darkred;
    color: darkred;
    border-radius: 18px;
}
